<%- include('partials/header') %>
<%- include('partials/nav') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>template name: <%= template_name %></p>
    <p><a href="/cms">CMS</a></p>
<%- include('partials/footer') %>