<%- include('partials/header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include('partials/breadcrumbs') %>
            <%- include('partials/title') %>
                <div>
                    <div class="card bg-light">
                        <div class="card-body d-flex flex-wrap justify-content-between">
                            <div class="col-auto">
                                <button class="btn btn-primary me-2" id="create_menu">Add New</button>
                                <button class="btn btn-danger" id="delete_menu" style="display: none;">Delete Selected</button>
                            </div>
                            <div class="col-auto">
                                <form action="#" class="needs-validation" novalidate="">
                                    <div class="row align-content-center gx-2">
                                        <div class="col-auto position-relative">
                                            <label for="s_1" class="visually-hidden">Search</label>
                                            <input type="text" class="form-control" id="s_1"
                                                aria-describedby="validationServer03Feedback" required=""
                                                placeholder="Search...">
                                            <div class="invalid-tooltip">
                                                Please provide a valid Search.
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-outline-success" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table table-striped  align-middle table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input class="form-check-input" type="checkbox" value="" aria-label="select all rows">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const menu of menus) { %>
                                    <tr data-id="<%= menu._id %>">
                                        <td><input class="form-check-input" type="checkbox" aria-label="select row"></td>
                                        <td>
                                            <a href="/cms/menus/<%= menu._id %>"><%= menu.name %></a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
    </main>
    <%- include('partials/footer') %>