<%- include('partials/header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include('partials/breadcrumbs') %>
            <%- include('partials/title') %>
                <div>
                    <div class="card bg-light">
                        <div class="card-body d-flex flex-wrap justify-content-between">
                            <div class="col-auto d-flex align-items-center">
                                <% if (locals.submodels?.length) { %>
                                <select class="form-select me-2" name="author" id="page_submodels"n style="width: 130px">
                                    <option value="">Common</option>
                                    <% submodels.forEach(model => { %>
                                        <option value="<%= model %>"><%= model %></option>
                                    <% }) %>
                                </select>
                                <% } %>
                                <button class="btn btn-primary me-2" id="add_page" style="height: 38px;">Add New</button>
                                <button class="btn btn-danger" id="delete_page" style="height: 38px;display:none">Delete Selected</button>
                            </div>
                            <div class="col-auto">
                                <form action="#" class="needs-validation" novalidate="">
                                    <div class="row align-content-center gx-2">
                                        <div class="col-auto position-relative">
                                            <label for="s_1" class="visually-hidden">Search</label>
                                            <input type="text" class="form-control" id="s_1"
                                                aria-describedby="validationServer03Feedback" required=""
                                                placeholder="Search...">
                                            <div class="invalid-tooltip">
                                                Please provide a valid Search.
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-outline-success" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table name="pages"" class="table table-striped  align-middle table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input class="form-check-input" type="checkbox" value="" aria-label="select all rows">
                                    </th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const page of pages) { %>
                                    <tr data-id="<%= page._id %>">
                                        <td><input class="form-check-input" type="checkbox" aria-label="select row"></td>
                                        <td>
                                            <a href="/cms/pages/<%= page._id %>"><%= page.name %></a>
                                        </td>
                                        <td><%= page.type %></td>
                                        <td><%= formatDate(page.createdAt, 'dd mon yyyy') %></td>
                                        <td><a href="/cms/team/<%= page.author._id %>"><%= page.author.username %></a></td>
                                        <td><%- page.tags.map(tag => tag.name).join(', ') %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation" class="pt-3">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- content -->
                </div>
    </main>
    <%- include('partials/footer') %>