<%- include('partials/header') %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include('partials/breadcrumbs') %>
    <%- include('partials/title') %>
    <div class="pb-4">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="identity-tab" data-bs-toggle="tab"
                    data-bs-target="#identity-tab-pane" type="button" role="tab"
                    aria-controls="identity-tab-pane" aria-selected="true">Identity</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="operation-tab" data-bs-toggle="tab"
                    data-bs-target="#operation-tab-pane" type="button" role="tab"
                    aria-controls="operation-tab-pane" aria-selected="false">Operation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="performance-tab" data-bs-toggle="tab"
                    data-bs-target="#performance-tab-pane" type="button" role="tab"
                    aria-controls="performance-tab-pane" aria-selected="false">Performance</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="seo-tab" data-bs-toggle="tab" data-bs-target="#seo-tab-pane"
                    type="button" role="tab" aria-controls="seo-tab-pane" aria-selected="false">SEO</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog-tab-pane"
                    type="button" role="tab" aria-controls="blog-tab-pane" aria-selected="false">Blog</button>
            </li>
        </ul>

        <div class="tab-content  pt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="identity-tab-pane" role="tabpanel"
                aria-labelledby="identity-tab" tabindex="0">
                <%- include('partials/settings/identity') %>
            </div>
            <div class="tab-pane fade" id="operation-tab-pane" role="tabpanel"
                aria-labelledby="operation-tab" tabindex="0">
                <%- include('partials/settings/operation') %>
            </div>
            <div class="tab-pane fade" id="performance-tab-pane" role="tabpanel"
                aria-labelledby="performance-tab" tabindex="0">
                <%- include('partials/settings/performance') %>
            </div>
            <div class="tab-pane fade" id="seo-tab-pane" role="tabpanel" aria-labelledby="seo-tab"
                tabindex="0">
                <%- include('partials/settings/seo') %>
            </div>
            <div class="tab-pane fade" id="blog-tab-pane" role="tabpanel" aria-labelledby="blog-tab"
                tabindex="0">
                <%- include('partials/settings/blog') %>
            </div>
        </div>

    </div>
</main>
<%- include('../partials/svg-sprite') %>
<%- include('partials/footer') %>