<%- include('partials/header') %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include('partials/breadcrumbs') %>
    <%- include('partials/title') %>
    <div>
        <h3 class="border-bottom pt-3 pb-2 mb-3">Account Details</h3>
        <form name="member_details" autocomplete="off">
            <div class="row">
                <div class="col-6 col-lg-4">
                    <div class="pb-3">
                        <label for="username" class="form-label">Public Name:</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameFeedback" required autocomplete="off">
                        <div id="usernameFeedback" class="invalid-feedback">
                            Please provide a valid Public Name.
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="pb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordFeedback" required autocomplete="new-password">
                        <div id="passwordFeedback" class="invalid-feedback">
                            Please provide a valid Password.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <div>
                        <label for="email" class="form-label">E-mail:</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailFeedback">
                        <div id="emailFeedback" class="invalid-feedback">
                            Please provide a valid E-mail.
                        </div>
                    </div>
                    <div class="pb-3 pt-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="email_notifications" name="email_notifications">
                            <label class="form-check-label user-select-none" for="email_notifications">
                                Receive e-mail notifications
                            </label>
                        </div>
                    </div>
                    <div class="pb-3 pt-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="web_notifications" name="web_notifications">
                            <label class="form-check-label user-select-none" for="web_notifications">
                                Receive web notifications
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="pb-3">
                        <label class="form-label">Permissions:</label>
                        <div class="row">
                            <% for (const key in PERMISSIONS) { %>
                                <div class="col-6 col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="permissions" value="<%= PERMISSIONS[key].key %>" id="<%= key %>">
                                        <label class="form-check-label user-select-none" for="<%= key %>">
                                            <%= PERMISSIONS[key].label %>
                                        </label>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 d-flex justify-content-between">
                    <button class="btn btn-primary btn-sm" type="submit" id="create_member">Create Member</button>
                </div>
            </div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>
