<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- SS.custom_html %>
        <% if (env === 'production') { %>
            <link rel="preload" href="/<%= SS.skin %>/fonts/RobotoFlex.woff2" as="font" type="font/woff2">
            <link rel="preload" href="/<%= SS.skin %>/css/style.min.css" as="style">
        <link href="/<%= SS.skin %>/css/style.min.css" rel="stylesheet">
        <% } else { %>
            <script src="/dev/<%= SS.skin %>_style.js"></script>
        <% } %>
        <meta name="csrf" content="<%= csrf_token %>">
    </head>
    <body>