<%- include('./partials/header') -%>
    <div>
        <h1>New User Registration</h1>
        <p>Hi <%= admin.name %>,</p>
        <p>A new user has registered on the site.</p>
        <p>Here are the details:</p>
        <ul>
            <li>Name: <%= user.name %></li>
            <li>Email: <%= user.email %></li>
        </ul>
    </div>
<%- include('./partials/footer') -%>