<%- await include('partials/header') %>
<%- await include('partials/nav') %>
    <h1><%= title %></h1>
    <p>template name: <%= template_name %></p>
    <p>Call Us: <%= data.phone %></p>
<%- await include('partials/footer') %>