<%- include('partials/header') %>
<%- include('partials/nav') %>
    <h1><%= title %></h1>
    <p>template name: <%= template_name %></p>
    <p>Call Us: <%= page.phone %></p>
<%- include('partials/footer') %>