<%- include('partials/header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include('partials/breadcrumbs') %>
            <%- include('partials/title') %>
                <div class="pb-4">
                    <form action="#" novalidate class="needs-validation">
                        <div class="row">
                            <div class="col-12 col-lg">
                                <div class="pb-3">
                                    <label for="p1" class="form-label">Post title:</label>
                                    <input type="text" class="form-control" id="p1" value="<%=blog_post.title%>">
                                    <div class="invalid-feedback">
                                        Please provide a valid Post title.
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label for="p12" class="form-label">Slug:</label>
                                    <input type="text" class="form-control" id="p12" value="<%=blog_post.slug%>">
                                    <div class="invalid-feedback">
                                        Please provide a valid Slug.
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label for="details" class="form-label">Content:</label>
                                    <div class="post_editor">
                                        <p style="text-align: left">Camping is an adventure that reconnects us with nature, offers peace away from the hustle of daily life, and provides a unique experience every time. However, to ensure a safe and enjoyable experience, it's essential to be well-prepared. Below are the top 10 must-have items for your next camping trip, ensuring you're ready for anything nature throws your way.</p>
                                        <h2>1. A Sturdy Tent</h2>
                                        <p style="text-align: left"><em>Always start with the basics: a good tent.</em> Your tent is your home away from home. It should be spacious enough to accommodate your group and durable to withstand various weather conditions.</p>
                                        <h3>Key Features to Consider:</h3>
                                        <ul>
                                            <li><strong>Weather Resistance</strong>: Look for a waterproof and windproof tent.</li>
                                            <li><strong>Size</strong>: Ensure it's big enough for your party and gear.</li>
                                            <li><strong>Ease of Setup</strong>: Opt for a tent that is easy to assemble and disassemble.</li>
                                        </ul>
                                        <h2>2. Sleeping Bags and Pads</h2>
                                        <blockquote>
                                            <p>Not all those who wander are lost, but a map and compass help.</p>
                                            <cite>J.R.R. Tolkien</cite>
                                        </blockquote>
                                        <p style="text-align: left">A comfortable sleeping bag is crucial for a good night's sleep. Choose one that suits the weather conditions you'll be facing. Consider the bag's temperature rating, insulation type, and weight. A good sleeping bag will keep you warm and cozy even in colder temperatures.</p>
                                        <p style="text-align: left">Sleeping pads are equally important. They provide not only comfort but also insulation from the cold ground. There are various types, including foam pads, self-inflating pads, and air mattresses. Each has its pros and cons in terms of comfort, insulation, weight, and packability.</p>
                                        <h2>3. Reliable Cooking Gear</h2>
                                        <picture class="full">
                                            <img src="/files/images/blog/19_A_campfire_with_a_pot_over_it_surrounded.png" alt="Camfire with a pot over it">
                                            <figcaption>Camfire with a pot over it</figcaption>
                                        </picture>
                                        <p style="text-align: left">You can’t enjoy the great outdoors on an empty stomach. Essential cooking gear includes a portable stove, which could be a lightweight backpacking stove or a larger, more robust stove for car camping. Don't forget fuel for the stove, a lighter or matches, and cooking utensils like pots, pans, and a spatula.</p>
                                        <p style="text-align: left">Planning your meals ahead is crucial. Consider easy-to-cook and nutritious meals that can be prepared with minimal utensils. Also, think about how you'll store your food safely, especially in areas where wildlife is present.</p>
                                        <p style="text-align: left"><strong>Pro Tip</strong>: Plan your meals ahead and pack accordingly to avoid overpacking.</p>
                                        <ol>
                                            <li><strong>Weather Resistance</strong>: Look for a waterproof and windproof tent.</li>
                                            <li><strong>Size</strong>: Ensure it's big enough for your party and gear.</li>
                                            <li><strong>Ease of Setup</strong>: Opt for a tent that is easy to assemble and disassemble.</li>
                                        </ol>
                                    </div>
                                    <textarea class="form-control code" id="details" rows="40"
                                        placeholder="HTML Markup">
                                        <%=body%>
                                    </textarea>
                                    <div class="invalid-feedback">
                                        Please enter a message in the textarea.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mt-5 mt-lg-0">
                                <div class="card meta_block mb-4">
                                    <%- include('partials/img-edit') %>
                                        <div class="card-body">
                                            <label class="form-check-label d-flex user-select-none mb-3">
                                                <input class="form-check-input" type="checkbox"
                                                    <%=blog_post.published===true ? 'checked' : '' %>>
                                                <span class="ms-2">Published</span>
                                            </label>
                                            <dl class="d-table mb-3">
                                                <div class="d-table-row">
                                                    <dt class="d-table-cell pe-2 fw-normal">Created:</dt>
                                                    <dd class="d-table-cell">
                                                        <%=formatDate(blog_post.createdAt,'dd mon yyyy')%>
                                                    </dd>
                                                </div>
                                                <div class="d-table-row">
                                                    <dt class="d-table-cell pe-2 fw-normal">Published:</dt>
                                                    <dd class="d-table-cell">
                                                        <%=formatDate(blog_post.date_published,'dd mon yyyy')%>
                                                    </dd>
                                                </div>
                                                <div class="d-table-row">
                                                    <dt class="d-table-cell pe-2 fw-normal">Updated:</dt>
                                                    <dd class="d-table-cell">
                                                        <%=formatDate(blog_post.updatedAt,'dd mon yyyy')%>
                                                    </dd>
                                                </div>
                                                <div class="d-table-row">
                                                    <dt class="d-table-cell pe-2 fw-normal">Author:</dt>
                                                    <dd class="d-table-cell">
                                                        <a href="#" class="link-underline link-underline-opacity-0">
                                                            <%=blog_post.author.account_details.username%>
                                                        </a>
                                                    </dd>
                                                </div>
                                            </dl>
                                            <div class="mb-3">
                                                <label for="meta_3" class="form-label">Excerpt:</label>
                                                <textarea rows="5" class="form-control form-control-sm" id="meta_3"
                                                    required=""><%=blog_post.excerpt%></textarea>
                                                <div class="invalid-feedback">
                                                    Please enter a message in the textarea.
                                                </div>
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <button class="btn btn-primary me-2 mb-2">Update</button>
                                                <button class="btn btn-danger mb-2">Delete
                                                    Product</button>
                                            </div>
                                        </div>
                                </div>
                                <%- include('partials/tags-block',{array:blog_post.tags}) %>
                            </div>
                        </div>
                    </form>
                    <!-- content -->
                </div>
                <pre><code>
                    <%= JSON.stringify(blog_post, null, 2) %>
                </code></pre>
    </main>
    <%- include('partials/footer') %>