<%- include('partials/header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include('partials/breadcrumbs') %>
            <%- include('partials/title') %>
            <div>
                <div class="m-0 pb-4">
                    <div class="d-flex justify-content-between bg-light p-3 rounded-top">
                        <div class="col-auto d-flex">
                            <form action="" id="sendFiles">
                                <label for="file_input" class="btn btn-primary me-2">Upload</label>
                                <input type="file" name="" class="d-none" id="file_input" accept="image/*, video/*" multiple>
                            </form>
                            <button class="btn btn-danger me-2 delete-btn" hidden>Delete <var></var> selected files</button>
                            <button class="btn btn-secondary deselect-btn" hidden>Deselect</button>
                        </div>
                        <div class="col-auto">
                            <form class="d-flex ms-auto" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                              </form>
                        </div>
                    </div>
                    <div class="d-flex align-items-center bg-secondary-subtle p-3 rounded-bottom">
                        <a href="<%= breadcrumbs.at(-1).href %>" class="btn btn-light me-2">All <span class="text-black-50 all_files_amount"><%= total_count %></span></a>
                        <% type_counts.forEach(type => { %>
                            <a href="<%= breadcrumbs.at(-1).href + '/?type=' + type._id %>" class="btn btn-light me-2"><%= type._id %>s <span class="text-black-50"><%= type.count %></span></a>
                        <% }); %>
                    </div>
                </div>
                <div class="pb-4">
                    <div class="files">
                        <% files.forEach(file =>{ %>
                            <div class="file" data-id="<%= file._id %>" data-type="<%= file.type %>">
                                <% if(file.type === 'image'){ %>
                                    <img src="<%= `/files/${file.hash.slice(0, 2)}/300/${file.file_name}.${file.optimized_format}` %>" alt="<%= file.alt || '' %>">
                                <% } else if(file.type === 'video') { %>
                                    <%- icon({ name: 'video' }) %>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" class="pt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item previous-page <%= currentPage === 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="<%= breadcrumbs.at(-1).href + '/?page=' + (+currentPage - 1) + (typeof type !== 'undefined' ? '&type=' + type : '') %>" rel="previous-page">Previous</a>
                    </li>

                    <% for(let i = 1; i <= totalPages; i++){ %>
                        <li class="page-item">
                            <a class="page-link <%= currentPage === i ? 'active' : '' %>" href="<%= breadcrumbs.at(-1).href + '/?page=' + i + (typeof type !== 'undefined' ? '&type=' + type : '') %>"><%- i -%></a>
                        </li>
                    <% }; %>

                    <li class="page-item next-page <%= currentPage === totalPages ? 'disabled' : '' %>">
                        <a class="page-link" href="<%= breadcrumbs.at(-1).href + '/?page=' + (+currentPage + 1) + (typeof type !== 'undefined' ? '&type=' + type : '') %>" rel="next-page">Next</a>
                    </li>
                </ul>
            </nav>
    </main>
    <%- include('partials/footer') %>