<%- include('partials/header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include('partials/breadcrumbs') %>
            <%- include('partials/title') %>
                <div class="ajax_table" data-id="<%= menu._id %>" data-endpoint="/api/menus/<%= menu._id %>/items">
                    <div class="card bg-light">
                        <div class="card-body d-flex flex-wrap justify-content-between">    
                            <div class="col-auto">
                                <button class="btn btn-danger delete_item" style="display: none;">Delete Selected</button>
                            </div>
                            <div class="col-auto">
                                <div class="row align-content-center gx-2">
                                    <div class="col-auto">
                                        <button class="btn btn-primary add_item" type="submit">Add New Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table table-striped  align-middle table-hover table_edit">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input class="form-check-input" type="checkbox" value="" aria-label="...">
                                    </th>
                                    <th scope="col">Page Type</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Open in:</th>
                                    <th scope="col">Link Title</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% menu.items.forEach(item=> { %>
                                    <tr data-id="<%= item._id %>">
                                        <td>
                                            <input class="form-check-input" type="checkbox" value="" aria-label="...">
                                        </td>
                                        <td data-field="entity_type">
                                            <%= item.entity_type %>
                                        </td>
                                        <td data-field="name">
                                            <%= item.name %>
                                        </td>
                                        <td data-field="url">
                                            <a href="<%= item.url %>" target="_blank" rel="noopener noreferrer">
                                                <%= item.url %>
                                            </a>
                                        </td>
                                        <td data-field="target">
                                            <%= item.target %>
                                        </td>
                                        <td data-field="title">
                                            <%= item.title %>
                                        </td>
                                        <td>
                                            <button class="btn btn-link btn-sm edit_item">
                                                <svg class="icon">
                                                    <use xlink:href="#pencil"></use>
                                                </svg>
                                            </button>
                                            <button class="btn btn-link btn-sm save_item_edit">
                                                <svg class="icon">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </button>
                                            <button class="btn btn-link btn-sm cancel_item_edit">
                                                <svg class="icon">
                                                    <use xlink:href="#cancel"></use>
                                                </svg>
                                            </button>
                                            <button class="btn btn-link btn-sm delete_item">
                                                <svg class="icon">
                                                    <use xlink:href="#trash"></use>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="pt-1">
                        <button class="btn btn-danger delete_item" style="display: none;">Delete Selected</button>
                    </div>
                </div>
    </main>
    <%- include('../partials/svg-sprite') %>
        <%- include('partials/footer') %>