<%- include('partials/header') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include('partials/breadcrumbs') %>
            <%- include('partials/title') %>
                <div class="ajax_table" data-endpoint="/api/tags/one">
                    <div class="card bg-light">
                        <div class="card-body d-flex flex-wrap justify-content-between">
                            <div class="col-auto">
                                <button class="btn btn-danger delete_item" style="display: none;">Delete Selected</button>
                            </div>
                            <div class="col-auto">
                                <div class="row align-content-center gx-2">
                                    <div class="col-auto">
                                        <button class="btn btn-primary add_item" type="submit">Create Tag</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table table-striped  align-middle table-hover table_edit">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input class="form-check-input" type="checkbox" value="" aria-label="...">
                                    </th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Slug</th>
                                    <th scope="col">Used</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% tags.forEach(tag => { %>
                                    <tr data-id="<%= tag.slug %>">
                                        <td>
                                            <input class="form-check-input" type="checkbox" aria-label="...">
                                        </td>
                                        <td data-field="name">
                                            <%= tag.name %>
                                        </td>
                                        <td data-field="slug">
                                            <%= tag.slug %>
                                        </td>
                                        <td data-field="used">
                                            <%= tag.used %>
                                        </td>
                                        <td>
                                            <button class="btn btn-link btn-sm edit_item">
                                                <svg class="icon">
                                                    <use xlink:href="#pencil"></use>
                                                </svg>
                                            </button>
                                            <button class="btn btn-link btn-sm save_item_edit">
                                                <svg class="icon">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </button>
                                            <button class="btn btn-link btn-sm cancel_item_edit">
                                                <svg class="icon">
                                                    <use xlink:href="#cancel"></use>
                                                </svg>
                                            </button>
                                            <button class="btn btn-link btn-sm delete_item">
                                                <svg class="icon">
                                                    <use xlink:href="#trash"></use>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
    </main>
    <%- include('../partials/svg-sprite') %>
        <%- include('partials/footer') %>