<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- GlobalSettings.custom_html -%>
        <% if (env === 'production') { -%>
            <link rel="preload" href="/<%= GlobalSettings.skin %>/fonts/RobotoFlex.woff2" as="font" type="font/woff2">
            <link rel="preload" href="/<%= GlobalSettings.skin %>/css/style.min.css" as="style">
            <link href="/<%= GlobalSettings.skin %>/css/style.min.css" rel="stylesheet">
        <% } else { -%>
            <script src="/dev/<%= GlobalSettings.skin %>_style.js"></script>
        <% } -%>
        <meta name="csrf" content="<%= csrf_token %>">
    </head>
    <body>