<%- await include('partials/header') %>
<%- await include('partials/nav') %>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p>Template name: "<%= template_name %>"</p>
    <p><a href="/cms">CMS</a></p>
<%- await include('partials/footer') %>