<%- await include('partials/header') -%>
<%- await include('partials/nav') -%>
    <h1><%= title %></h1>
    <p>"Birka" skin.</p>
    <p><%= data.welcome_text %></p>
    <p>template name: <%= template_name %></p>
    <p><a href="/cms">CMS</a></p>

    <p>Social media links:</p>
    <nav class="social_media">
        <% if (menus['social media']) { -%>
            <ul><% menus['social media'].forEach(item => { -%>
                <li>
                    <a href="<%= item.url %>" target="<%= item.target %>">
                        <% if (item.image) { -%>
                            <% const socImgPath = `/files/${item.image.hash.substring(0,2)}/${item.image.file_name}.${item.image.extension}` -%>
                            <img src="<%= socImgPath %>">
                        <% } -%>
                    </a>
                </li><% }); -%>
            </ul>
        <% } -%>
    </nav>
    <% const image = await getData('Image', {},
    {
        findOne: true
    }); -%>
    <% const admin = await getData('Member'); -%>
    <pre>
        <%= JSON.stringify(admin, null, 2) %>
    </pre>
    <%- getImgTag(image, {
            size: 300
        }) -%>
<%- await include('partials/footer') %>