<ul class="nav flex-column">
    <li class="nav-item">
        <a href="/cms" class="nav-link <%= active === 'dashboard' ? 'active' : '' %>">
            <%- icon({ name: 'dashboard' }) %>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/orders" class="nav-link <%= active === 'orders' ? 'active' : '' %>">
            <%- icon({ name: 'orders' }) %>
            Orders
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/products" class="nav-link <%= active === 'products' ? 'active' : '' %>">
            <%- icon({ name: 'box' }) %>
            Products
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/customers" class="nav-link <%= active === 'customers' ? 'active' : '' %>">
            <%- icon({ name: 'customer' }) %>
            Customers
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/pages" class="nav-link <%= active === 'pages' ? 'active' : '' %>">
            <%- icon({ name: 'page' }) %>
            Pages
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/blog" class="nav-link <%= active === 'blog' ? 'active' : '' %>">
            <%- icon({ name: 'chat' }) %>
            Blog
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/files" class="nav-link <%= active === 'files' ? 'active' : '' %>">
            <%- icon({ name: 'file' }) %>
            Files
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/tags" class="nav-link <%= active === 'tags' ? 'active' : '' %>">
            <%- icon({ name: 'tag' }) %>
            Tags
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/statuses" class="nav-link <%= active === 'statuses' ? 'active' : '' %>">
            <%- icon({ name: 'check-round' }) %>
            Statuses
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/notifications" class="nav-link <%= active === 'notifications' ? 'active' : '' %>">
            <%- icon({ name: 'bell' }) %>
            Notifications
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/email-templates" class="nav-link <%= active === 'email-templates' ? 'active' : '' %>">
            <%- icon({ name: 'email' }) %>
            Email Templates
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/menus" class="nav-link <%= active === 'menus' ? 'active' : '' %>">
            <%- icon({ name: 'menu' }) %>
            Menus
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/team" class="nav-link <%= active === 'team-members' ? 'active' : '' %>">
            <%- icon({ name: 'team' }) %>
            Team
        </a>
    </li>
    <li class="nav-item">
        <a href="/cms/settings" class="nav-link <%= active === 'settings' ? 'active' : '' %>">
            <%- icon({ name: 'gear' }) %>
            Settings
        </a>
    </li>
    <li class="nav-item update">
        <span class="nav-link <%= active === 'update' ? 'active' : '' %>">
            <%- icon({ name: 'cloud-down' }) %>
            <span class="nav_name">v.<%= project_version %></span><a href="/cms/update" class="action">check updates</a>
        </span>
    </li>
    <!-- <li class="nav-item update available">
        <span class="nav-link <%= active === 'update' ? 'active' : '' %>">
            <%- icon({ name: 'cloud-down' }) %>
            <span class="nav_name">Update to v.<%= project_version %></span><a href="/cms/update" class="action">check updates</a>
        </span>
    </li> -->
</ul>